# ================================
# Python Bytecode & Cache
# ================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ================================
# Virtual Environments
# ================================
venv/
.env
.env.*

# ================================
# Logs & Temporary Files
# ================================
*.log
*.sqlite3
.DS_Store

# ================================
# Dataset Lokal
# ================================
data/

# ================================
# Docker & Compose Overrides
# ================================
docker-compose.override.yml
